Laboratoire 9 - Le langage XML - XSD/ex1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="livre">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:int"></xsd:attribute>
            <xsd:attribute name="titre" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="auteur" type="xsd:string"></xsd:attribute>
            <xsd:attribute name="date" type="xsd:date"></xsd:attribute>
            <xsd:attribute name="prix" type="xsd:decimal"></xsd:attribute>
            <xsd:attribute name="disponible" type="xsd:boolean"></xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>